body{ font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; font-size: 14px; color: #555555}
header{padding-left: 40px; margin: 20px}

.borde-sec-servicios{ border:#E89A2F;} 

#sec-reservar{ background-color: #E89A2E; color: #FFFFFF}